<% if current_user == @user && @user.is_public %>
  <span class="badge badge-default">Public</span><%= link_to ' Make Private', toggle_public_url, remote: true, method: :put %> 
<% else %>
  <span class="badge badge-default">Private</span><%= link_to ' Make Public', toggle_public_url, remote: true, method: :put %> 
<% end %>
