<%= form_for [@user, @item] do |f| %>

<div class="input-group">
  <%= f.text_field :name, class: 'form-control', placeholder: "Enter new item for todo list" %>
  <span class="input-group-btn">
    <%= f.submit "Save", class: 'btn btn-success' %>
  </span>
</div>

<% end %>
