<%= form_for [@user, @item] do |f| %>

    <%= f.text_field :name, class: 'form-control', placeholder: "Enter new item for todo list" %>

  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success' %>
  </div>
<% end %>
