<tr>
  <div class="form-group">
    <td class="form-check form-check-inline">
      <input id="<%= item.id %>" type="checkbox" class="form-check-input">
        <%= link_to "", user_item_path(item.user, item), method: :delete, data: { confirm: "Remove \"#{item.name}\". Are you sure?" }, remote: true, class:'delete-item glyphicon glyphicon-ok' %>
    </input>
<label for="<%= item.id %>" class="checkbox-inline"><%= item.name %></label>
    </td>
  </div>
</tr>
